:global {
  html {
    height: 100%;
    width: 100%;
    * {
      box-sizing: border-box;
    }
  }
  body {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  }
}

.bodyContainer {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  margin: 0px;
  position: absolute;

  height: 100%;
  width: 100%;
  overflow: hidden;
}
