@import (reference) '../utils/styles/MediaQuery.less';

@borderColor: #FFF;
@borderColorAlt: #000;

.container {

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  margin: 0px;
  position: absolute;

  height: 100%;
  width: 100%;
  overflow: hidden;

  h1 {
    color: #FFF;
    text-align: center;
  }
}

.content {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 600px;
}

.circleEffect {
  border-color: @borderColorAlt;
  border-style: solid;
  border-radius: 2200px;
  position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: circleEffect 2s infinite;
  @media @medium {
    animation: circleEffectMedium 2s infinite;
  }
  @media @small {
    animation: circleEffectSmall 2s infinite;
  }
}
@keyframes circleEffect {
    from {height: 0px; width: 0px; border-width: 10px; opacity: 1;}
    to {height: 2200px; width: 2200px; border-width: 75px; opacity: 0;}
}
@keyframes circleEffectMedium {
    from {height: 0px; width: 0px; border-width: 10px; }
    to {height: 1400px; width: 1400px; border-width: 55px; }
}
@keyframes circleEffectSmall {
    from {height: 0px; width: 0px; border-width: 5px; }
    to {height: 1100px; width: 1100px; border-width: 35px; }
}
