@import (reference) '../utils/styles/MediaQuery.less';

@linkHeight: 20px;

.navigation {
  color: #FFF;
  height: 29px;
  // overflow: hidden;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 10px;
  width: 100%;
  z-index: 100;

  @media @medium {
    overflow: visible;
    text-align: right;
  }
}

.trigger {
  background: #000;
  cursor: default;
  display: inline-block;
  font-size: 20px;
  height: 29px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 29px;
  z-index: 101;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -800px;
  transition: right 500ms ease-in;
  white-space: nowrap;
  &.open {
    right: 30px;
    @media @medium {
      top: 0px;
    }
  }
  @media @medium {
    transition: top 200ms ease-in;
    top: -220px;
    right: 30px;
  }
}

.list{
  display: inline-block;
  margin-left: 1px;
  margin-bottom: 1px;

  @media @medium {
    clear: both;
    display: block;
  }
}

.link {
  background: #000;
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  font-size: .85em;
  padding: 7px;
  text-decoration: none;

  &.active{
    background: #FF0000;
  }
}

.submenu{
  list-style-type: none;
  margin: 0;
  max-height: 0px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 30px;
  text-align: left;
  transition: max-height 0.15s ease-out;
  &.open{
    max-height: 200px;
  }
}

.sublist{
  display:block;
  margin-bottom: 1px;

  @media @medium {
    clear: both;
    display: block;
  }
}

.sublink {
  background: #999;
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  font-size: .85em;
  padding: 7px;
  text-decoration: none;

  &.active{
    background: #FF0000;
  }
}
