@import (reference) '../utils/styles/MediaQuery.less';

@linkHeight: 20px;

.navigation {
  color: #FFF;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: @linkHeight;
  top: 10px;
  text-align: center;
  right: 10px;
  z-index: 100;
}

.trigger {
  position: absolute;
  top: 0;
  right: 0;
  background: #000;
  height: @linkHeight;
  width: @linkHeight;
  font-size: 20px;
  line-height: 21px;
  cursor: default;
  z-index: 101;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: -800px;
  transition: right 500ms ease-in;
  white-space: nowrap;
  li {
    display: inline-block;
    margin-left: 1px;
    a {
      background: #000;
      color: #FFF;
      font-size: 12px;
      height: @linkHeight;
      line-height: @linkHeight;
      padding: 10px;
      text-decoration: none;

      @media @medium {
        font-size: 18px;
      }
    }
  }
  &.open {
    right: 21px;
  }
}

.active{
  background: #FF0000 !important;
}
