@import (reference) '../utils/styles/MediaQuery.less';

@cubeSize: 400px;

.container {
  width: @cubeSize;
  height: @cubeSize;
  left: 50%;
  position: absolute;
  perspective: 1000px;
  transition: transform 800ms;
  transform: translate(-50%, -50%);
  &.up{
    transform: translate(-50%, -350%);
  }
  &.down{
    transform: translate(-50%, 350%);
  }
  top: 50%;
  @media @medium {
    width: @cubeSize / 2;
    height: @cubeSize / 2;
  }
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: rotateY(45deg);
}

.pos {
  background: rgba(0,0,0,1);
  // background-size: 100% 100%;
  color: white;
}

.neg {
  background: rgba(255,255,255,1);
  color: black;
}

.base {
  display: block;
  position: absolute;
  width: @cubeSize;
  height: @cubeSize;
  line-height: @cubeSize;
  font-size: 360px;
  font-weight: bold;
  text-align: center;
  backface-visibility: hidden;
  .pos();
  @media @medium {
    width: @cubeSize / 2;
    height: @cubeSize / 2;
    line-height: @cubeSize / 2;
    font-size: 360px / 2;
  }
}

.front {
  composes: base;
  transform: translateZ( @cubeSize / 2 );
  @media @medium {
    transform: translateZ( @cubeSize / 4 );
  }
  &.negaitve {
    .neg();
  }
}

.back {
  composes: base;
  transform: rotateX( -180deg ) translateZ( @cubeSize / 2 );
  @media @medium {
    transform: rotateX( -180deg ) translateZ( @cubeSize / 4 );
  }
  font-size: 20px;
  &.negaitve {
    .neg();
  }
}
.right {
  composes: base;
  transform: rotateY( 90deg ) translateZ( @cubeSize / 2 );
  @media @medium {
    transform: rotateY( 90deg ) translateZ( @cubeSize / 4 );
  }
  &.negaitve {
    .neg();
  }
}
.left {
  composes: base;
  transform: rotateY( -90deg ) translateZ( @cubeSize / 2 );
  @media @medium {
    transform: rotateY( -90deg ) translateZ( @cubeSize / 4 );
  }
  &.negaitve {
    .neg();
  }
}
.top {
  composes: base;
  transform: rotateX( 90deg ) translateZ( @cubeSize / 2 );
  font-size: 28px;
  @media @medium {
    transform: rotateX( 90deg ) translateZ( @cubeSize / 4 );
    font-size: 28px / 2;
  }

  &.negaitve {
    .neg();
  }
}
.bottom {
  composes: base;
  transform: rotateX(  -90deg ) translateZ( @cubeSize / 2 );
  font-size: 28px;
  @media @medium {
    transform: rotateX( -90deg ) translateZ( @cubeSize / 4 );
    font-size: 28px / 2;
  }
  &.negaitve {
    .neg();
  }
}
